@import "../../../shared/style/breakpoint.scss";

section,
article {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  height: calc(100vh - 60px);
  margin-top: 60px;
  flex-direction: column;

  h1 {
    color: var(--grey-color);
    text-align: center;

    span {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      padding-right: 2px;
      border-right: 4px solid var(--yellow-color);
      animation: typing 7s steps(20), blink-caret 0.8s step-end infinite;
      animation-iteration-count: infinite;

      @keyframes typing {
        0% {
          width: 0;
        }
        20% {
          width: 50%;
        }
        40% {
          width: 100%;
        }
        50% {
          width: 100%;
        }
        60% {
          width: 100%;
        }
        80% {
          width: 50%;
        }
        95% {
          width: 0;
        }
        100% {
          width: 0;
        }
      }

      @keyframes blink-caret {
        from,
        to {
          border-color: transparent;
        }
        50% {
          border-color: var(--yellow-color);
        }
      }
    }
  }

  article {
    width: 100%;
    height: 60%;
    margin: 0 auto 30px;

    .featured-img {
      position: relative;
      width: 59%;
      max-width: 230px;
      margin: auto;

      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: 20px;
        transition: 0.8s ease;
      }

      &:before {
        background-color: var(--light-green-color);
        bottom: 2rem;
        right: 2rem;
        animation: counter-clockwise-rotating 80s linear infinite;
      }

      &:after {
        background-color: var(--yellow-color);
        top: 2rem;
        left: 2rem;
        animation: clockwise-rotating 80s linear infinite;
      }

      &:hover {
        &:before {
          bottom: 3rem;
          right: 3rem;
        }

        &:after {
          top: 3rem;
          left: 3rem;
        }
      }

      @keyframes counter-clockwise-rotating {
        from {
          transform: rotate(360deg);
        }
        to {
          transform: rotate(0deg);
        }
      }
      @keyframes clockwise-rotating {
        from {
          transform: rotate(60deg);
        }
        to {
          transform: rotate(420deg);
        }
      }
    }

    img {
      height: auto;
      display: block;
      border-radius: 50%;
      width: 100%;
    }
  }
}

///////////

@media screen and (min-width: $phone-breakpoint) {
  h1 {
    width: 230px;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  section {
    flex-direction: row;
    justify-content: space-around;

    article {
      width: 40%;
      height: 100%;
      margin: 0;

      .featured-img {
        width: 65%;
        max-width: 320px;
      }
    }
  }
}

@media screen and (min-width: $desktop-breakpoint) {
  h1 {
    width: 290px;
  }
}
