@import "../../shared/style/breakpoint.scss";

body {
  min-height: calc(100vh - 20px);
  padding: 10px;
  margin: 0;
}

h1 {
  text-align: center;
}

img {
  max-height: 500px;
  max-width: 800px;
  width: 30%;
  border-radius: 5px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &:first-of-type {
    min-height: 40vh;
  }

  &:nth-of-type(2) {
    margin-top: 20px;
    min-height: 30vh;
  }
}

button {
  margin-block: 15px;
  background-color: white;

  &:not(#resume) {
    border: none;
    padding: 0;
  }

  &#resume {
    border: 1px solid var(--light-grey-color);
    box-shadow: 3px 3px 5px var(--green-color);
    border-radius: 15px;
    padding: 10px 20px;
  }
}

#resume + button {
  margin-top: 0;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: var(--grey-color);
  display: flex;
  align-items: center;
  cursor: pointer;
}

p, a, span {
  &:hover {
    color: var(--yellow-color);
  }
}

span {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: var(--green-color);

  &:hover {
    text-decoration-color: var(--yellow-color);
  }
}

.fas,
.far,
.fab {
  font-size: 22px;
  color: var(--blue-color);
  margin-right: 5px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 230px;
  border: 1px solid var(--light-grey-color);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
}

.circle1,
.circle2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: auto;
}

.circle1 {
  background: var(--yellow-color);
}

.circle2 {
  background: var(--blue-color);
}

@media screen and (min-width: $tablet-breakpoint) {
  #structure {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;

    section {
      width: 40vw;
      max-width: 500px;
    }
  }

  .main {
    width: 330px;
    height: 330px;
  }

  .circle1,
  .circle2 {
    width: 30px;
    height: 30px;
  }
}
