<body>
  <h1 class="grey">Contact me</h1>

  <div id="structure">

    <section>

      <div class="main">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <h2 class="green">Stay in touch</h2>
      </div>
    </section>


    <section>
      <p class="grey">
        <i class="far fa-envelope"></i>
        e.lahaye49@gmail.com
      </p>

      <button>
        <a class="basic-typo" target="_blank" href="https://www.linkedin.com/in/elise-lahaye-a8a1221a5/">
          <i class="fab fa-linkedin"></i>
          <span>LinkedIn</span>
        </a>
      </button>

      <button>
        <a class="basic-typo" target="_blank" href="https://github.com/elahaye">
          <i class="fab fa-github"></i>
          <span>Github</span>
        </a>
      </button>

      <button id="resume">
        <a class="basic-typo" href="assets/resume_Lahaye_Elise.pdf" download>
          <i class="fas fa-file-download"></i>
          Download my resume
        </a>
      </button>

      <button>
        <a class="basic-typo" href="assets/CV_Lahaye_Elise.pdf" download>
          <span>en Français</span>
        </a>
      </button>

    </section>
  </div>

</body>
