<body>
  <div class="timeline">
    <ul>
      <li>
        <div class="content">
          <h3>Personnal Projects</h3>

          <section>
            <article>
              <p class="skills">
                <i class="fab fa-react"></i>
                React
              </p>

              <p class="skills">
                <i class="fab fa-node"></i>
                Node.js
              </p>
            </article>

            <article>
              <p class="skills">
                <i class="fas fa-database"></i>
                MongoDB
              </p>

              <p class="skills">
                <i class="fab fa-github"></i>
                Github
              </p>
            </article>
          </section>
        </div>

        <div class="time long">
          <h4>
            Till now and forever
            <i class="fas fa-fighter-jet"></i>
          </h4>
        </div>
      </li>

      <li>
        <div class="content">
          <h3>Front-End / Angular Developper</h3>

          <p>
            More than a year and half working in a start-up environment as a front-end UI/UX - Angular developper.
          </p>

          <p>
            For over a year, I was the only front-end developer on the company and had to take care of all aspects of the application. Debug, new components, new projects and learned how to work with a stack under a Docker environment.
          </p>

          <p>
            I work now on a team and progress alongside peer-programming, brain-storming and cooperation.
          </p>

          <section>
            <article>
              <p class="skills">
                <i class="fab fa-angular"></i>
                Angular 9 - 13
              </p>

              <p class="skills">
                <i class="fab fa-symfony"></i>
                Symfony 4
              </p>

              <p class="skills">
                <i class="fab fa-docker"></i>
                Docker
              </p>
            </article>

            <article>
              <p class="skills">
                <i class="fab fa-gitlab"></i>
                Gitlab
              </p>

              <p class="skills">
                <i class="fab fa-figma"></i>
                Figma
              </p>
            </article>
          </section>
        </div>

        <div class="time long">
          <h4>November 2020 - Till now</h4>
        </div>
      </li>

      <li>
        <div class="content">
          <h3>Learning Course - Web Developpement / Angular / Symfony</h3>

          <p>Web Integration Development RNCP Certification</p>

          <section>
            <article>
              <p class="skills">
                <i class="fab fa-angular"></i>
                Angular 9
              </p>

              <p class="skills">
                <i class="fab fa-html5"></i>
                HTML 5
              </p>

              <p class="skills">
                <i class="fab fa-css3-alt"></i>
                CSS 3
              </p>

              <p class="skills">
                <i class="fab fa-js"></i>
                JS ES6
              </p>

              <p class="skills">
                <i class="fab fa-bootstrap"></i>
                Bootstrap
              </p>
            </article>

            <article>
              <p class="skills">
                <i class="fab fa-symfony"></i>
                Symfony 5
              </p>

              <p class="skills">
                <i class="fab fa-php"></i>
                PHP 7
              </p>

              <p class="skills">
                <i class="fas fa-database"></i>
                MySQL
              </p>
            </article>
          </section>
        </div>

        <div class="time long">
          <h4>January 2020 - July 2020</h4>
        </div>
      </li>

      <li>
        <div class="content">
          <h3>Medical secretary in a dental office (Marseille)</h3>

          <p>Administrative management and patient care</p>
        </div>

        <div class="time">
          <h4>2019</h4>
        </div>
      </li>

      <li>
        <div class="content">
          <h3>Business travel advisor at Egencia's travel agency (Angers)</h3>

          <p>Processing customer requests and booking tickets</p>
        </div>

        <div class="time">
          <h4>2018</h4>
        </div>
      </li>

      <li>
        <div class="content">
          <h3>French and English private teacher (Tokyo)</h3>

          <p>French language learning at beginner/advanced level</p>

          <p>Reinforcement of the English language at the conversational level</p>
        </div>

        <div class="time">
          <h4>2017 - 2018</h4>
        </div>
      </li>

      <li>
        <div class="content">
          <h3>Pastry Chef-Saleswoman at Merveilleux de Fred (London)</h3>

          <p>Customer and inventory management</p>
        </div>

        <div class="time">
          <h4>2016 - 2017</h4>
        </div>
      </li>

      <div style="clear:both;"></div>
    </ul>
  </div>
</body>
