<app-timeline></app-timeline>

<section>
  <article>
    <h2 class="bg-green white">
      Language Skills
    </h2>

    <ul>
      <li>
        <span class="bold">French</span>
        - Mothertonge
      </li>

      <li>
        <span class="bold">English</span>
        - Advanced
      </li>

      <li>
        <span class="bold">Japanese</span>
        - Intermediate
      </li>

      <li>
        <span class="bold">Spanish</span>
        - Beginner
      </li>
    </ul>
  </article>

  <article>
    <h2 class="bg-green white">
      Social Skills
    </h2>

    <div>
      <p>
        <i class="fas fa-bolt"></i>
        Energetic
      </p>

      <p>
        <i class="fas fa-smile"></i>
        Joyful
      </p>

      <p>
        <i class="fas fa-fist-raised"></i>
        Gonna do it
      </p>
    </div>

  </article>
</section>
