<div class="timeline">
  <ul>
    <li>
      <div class="content">
        <h3 class="title-typo">Personal Projects</h3>

        <section>
          <article>
            <p class="skills">
              <i class="fab fa-react"></i>
              React
            </p>

            <p class="skills">
              <i class="fab fa-node"></i>
              Node.js
            </p>

            <p class="skills">
              <img src="assets/icons/express.svg" alt="Express Icon" />
              Express
            </p>
          </article>

          <article>
            <p class="skills">
              <i class="fas fa-database"></i>
              MongoDB
            </p>

            <p class="skills">
              <i class="fab fa-github"></i>
              Github
            </p>
          </article>
        </section>
      </div>

      <div class="time long">
        <h4>
          Personal projects
          <i class="fas fa-fighter-jet"></i>
        </h4>
      </div>
    </li>

    <li>
      <div class="content">
        <h3 class="title-typo">Software / Angular Developer</h3>

        <p>Worked in a 30+ years company as a Software - Angular developer.</p>

        <p>
          Managing multiple projects with a focus on migrating the main AngularJS application to
          Angular 2+ and introducing new technologies like Tailwind and NGRX.
        </p>

        <p>
          Consistently addressed bugs and implemented new features, ensuring the ongoing
          functionality and improvement of the company's applications.
        </p>

        <section>
          <article>
            <p class="skills">
              <i class="fab fa-angular"></i>
              Angular 14 - 16
            </p>

            <p class="skills">
              <i class="fab fa-java"></i>
              Java
            </p>

            <p class="skills">
              <i class="fab fa-docker"></i>
              Docker
            </p>

            <p class="skills">
              <i class="fab fa-gitlab"></i>
              BitBucket
            </p>
          </article>

          <article>
            <p class="skills">
              <img src="assets/icons/ngrx.svg" alt="NGRX Icon" />
              NGRX Component
            </p>

            <p class="skills">
              <img src="assets/icons/rxjs.svg" alt="Rxjs Icon" />
              Rxjs
            </p>

            <p class="skills">
              <img src="assets/icons/tailwind.svg" alt="Tailwind Icon" />
              Tailwind
            </p>
          </article>
        </section>
      </div>

      <div class="time long">
        <h4>September 2022 - April 2024</h4>
      </div>
    </li>

    <li>
      <div class="content">
        <h3 class="title-typo">Front-End / Angular Developer</h3>

        <p>
          More than a year and half working in a start-up environment as a front-end UI/UX - Angular
          developer.
        </p>

        <p>
          For over a year, I was the only front-end developer on the company and had to take care of
          all aspects of the application. Bugs fixing, new components, new projects and learned how
          to work with a stack under a Docker environment.
        </p>

        <p>
          Then, I worked on a team and progressed alongside peer-programming, brain-storming and
          cooperation.
        </p>

        <section>
          <article>
            <p class="skills">
              <i class="fab fa-angular"></i>
              Angular 9 - 13
            </p>

            <p class="skills">
              <i class="fab fa-symfony"></i>
              Symfony 4
            </p>

            <p class="skills">
              <i class="fab fa-docker"></i>
              Docker
            </p>
          </article>

          <article>
            <p class="skills">
              <i class="fab fa-gitlab"></i>
              Gitlab
            </p>

            <p class="skills">
              <i class="fab fa-figma"></i>
              Figma
            </p>
          </article>
        </section>
      </div>

      <div class="time long">
        <h4>November 2020 - July 2022</h4>
      </div>
    </li>

    <li>
      <div class="content">
        <h3 class="title-typo">Learning Course - Web Development / Angular / Symfony</h3>

        <p>Web Integration Development RNCP Certification</p>

        <section>
          <article>
            <p class="skills">
              <i class="fab fa-angular"></i>
              Angular 9
            </p>

            <p class="skills">
              <i class="fab fa-html5"></i>
              HTML 5
            </p>

            <p class="skills">
              <i class="fab fa-css3-alt"></i>
              CSS 3
            </p>

            <p class="skills">
              <i class="fab fa-js"></i>
              JS ES6
            </p>

            <p class="skills">
              <i class="fab fa-bootstrap"></i>
              Bootstrap
            </p>
          </article>

          <article>
            <p class="skills">
              <i class="fab fa-symfony"></i>
              Symfony 5
            </p>

            <p class="skills">
              <i class="fab fa-php"></i>
              PHP 7
            </p>

            <p class="skills">
              <i class="fas fa-database"></i>
              MySQL
            </p>
          </article>
        </section>
      </div>

      <div class="time long">
        <h4>January 2020 - July 2020</h4>
      </div>
    </li>

    <li>
      <div class="content">
        <h3 class="title-typo">Medical secretary in a dental office (Marseille)</h3>

        <p>Administrative management and patient care</p>
      </div>

      <div class="time">
        <h4>2019</h4>
      </div>
    </li>

    <li>
      <div class="content">
        <h3 class="title-typo">Business travel advisor at Egencia's travel agency (Angers)</h3>

        <p>Processing customer requests and booking tickets</p>
      </div>

      <div class="time">
        <h4>2018</h4>
      </div>
    </li>

    <li>
      <div class="content">
        <h3 class="title-typo">French and English private teacher (Tokyo)</h3>

        <p>French language learning at beginner/advanced level</p>

        <p>Reinforcement of the English language at the conversational level</p>
      </div>

      <div class="time">
        <h4>2017 - 2018</h4>
      </div>
    </li>

    <li>
      <div class="content">
        <h3 class="title-typo">Pastry Chef-Saleswoman at Merveilleux de Fred (London)</h3>

        <p>Customer and inventory management</p>
      </div>

      <div class="time">
        <h4>2016 - 2017</h4>
      </div>
    </li>

    <div style="clear: both"></div>
  </ul>
</div>
