<section>
  <article>
    <img class="one" src="../assets/images/tokyo.jpg" alt="Photo Japon">
    <img class="two" src="../assets/images/london.jpg" alt="Photo Londres">
    <img class="three" src="../assets/images/montreal.jpg" alt="Photo Montréal">
    <img class="four"src="../assets/images/motivation.jpg" alt="Photo Motivation">
  </article>

  <article>
    <h2>Front-End Developer looking for a job !</h2>
    <p> Paris, London, Tokyo, Marseille and now Montréal, I'm coming in a new city to experiment a new way of life. Converted to web developpement 2 years ago, I worked mostly with Angular but I'm open to all Front-End jobs. If you're looking for a motivated developer, feel free to contact me.</p>
  </article>
</section>
