:root {
  --light-green-color: #e4fde1;
  --green-color: #8acb88;
  --blue-color: #648381;
  --light-grey-color: #dedee0;
  --grey-color: #4e4e57;
  --yellow-color: #ffbf46;
  --white-color: #ffffff;
}
