// COLORS

.light-green {
  color: #e4fde1;
}

.green {
  color: #8acb88;
}

.blue {
  color: #648381;
}

.grey {
  color: #575761;
}

.yellow {
  color: #ffbf46;
}

.white {
  color: #ffffff;
}

// BACKGROUND-COLORS

.bg-light-green {
  background-color: #e4fde1;
}

.bg-green {
  background-color: #8acb88;
}

.bg-blue {
  background-color: #648381;
}

.bg-grey {
  background-color: #575761;
}

.bg-yellow {
  background-color: #ffbf46;
}
