:root {
  --light-green-color: #e4fde1;
  --green-color: #8acb88;
  --blue-color: #648381;
  --light-grey-color: #dedee0;
  --grey-color: #4e4e57;
  --yellow-color: #ffbf46;
  --white-color: #ffffff;
}

// COLORS

.light-green {
  color: var(--light-green-color);
}
.green {
  color: var(--green-color);
}
.blue {
  color: var(--blue-color);
}
.light-grey {
  color: var(--grey-color);
}
.grey {
  color: var(--grey-color);
}
.yellow {
  color: var(--yellow-color);
}
.white {
  color: var(--white-color);
}

// BACKGROUND-COLORS

.bg-light-green {
  background-color: var(--light-green-color);
}

.bg-green {
  background-color: var(--green-color);
}

.bg-blue {
  background-color: var(--blue-color);
}

.bg-grey {
  background-color: var(--grey-color);
}

.bg-yellow {
  background-color: var(--yellow-color);
}

.bg-white {
  background-color: white;
}
