@import "breakpoint.scss";

.title-typo {
  font-family: "Playfair Display", serif;
}

.basic-typo {
  font-family: "Quicksand", sans-serif;
}

h1,
h2,
h4 {
  font-family: "Playfair Display", serif;
}

h3,
p,
li {
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

p {
  font-size: 18px;
}

.bold {
  font-weight: bold;
}

@media screen and (min-width: $desktop-breakpoint) {
  h1 {
    font-size: 40px;
  }
}
