@import "breakpoint.scss";

h1,
h2 {
  font-family: "Playfair Display", serif;
}

h3,
p {
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-size: 32px;
}

@media screen and (min-width: $desktop-breakpoint) {
  h1 {
    font-size: 40px;
  }
}
