body {
  min-height: 100vh;
  background-color: var(--light-green-color);
  padding: 20px 10px;
}

h1 {
  text-align: center;
}

p {
  font-size: 22px;
  text-align: center;
  max-width: 500px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
  border: 1px solid var(--light-grey-color);
  border-radius: 20px;
  margin: 10px 20px;
}
