@import "app/shared/style/color.scss";
@import "app/shared/style/typo.scss";

:root {
  --phone-breakpoint: 480px;
  --tablet-breakpoint: 768px;
  --desktop-breakpoint: 1024px;

  --light-green-color: #e4fde1;
  --green-color: #8acb88;
  --blue-color: #648381;
  --light-grey-color: #dedee0;
  --grey-color: #575761;
  --yellow-color: #ffbf46;
  --white-color: #ffffff;
}

body {
  margin: 0;
}
