@tailwind base;
@tailwind components;
@tailwind utilities;

@import "app/shared/style/color.scss";
@import "app/shared/style/typo.scss";

body {
  margin: 0;
}

button {
  margin-block: 15px;
  background-color: white;

  &.link {
    border: none;
    padding: 0;
  }
}

a {
  font-size: 18px;
  text-decoration: none;
  color: var(--grey-color);
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: var(--yellow-color);
  }
}
