<body>

  <header [ngClass]="{ 'shadow-bottom' : !openMenu || innerWidth >= TABLETBREAKPOINT }">
    <div id="logo">
      <img src="../assets/images/lotus.png" alt="Image d'un lotus">
    </div>

    <section id="links-desktop">
      <ng-container *ngTemplateOutlet="links"></ng-container>
    </section>

    <i class="fas fa-bars grey" (click)="openMenu = !openMenu"></i>
  </header>

  <section id="links-phone" [ngClass]="{ 'shadow-bottom open-menu' : openMenu }">
    <ng-container *ngTemplateOutlet="links"></ng-container>
  </section>

  <ng-template #links>
      <a routerLink="/journey" alt="My journey" (click)="onCloseMenu()"> My journey </a>
      <a routerLink="/skills" alt="My skills" (click)="onCloseMenu()"> My skills </a>
      <a routerLink="/projects" alt="My projects" (click)="onCloseMenu()"> My projects </a>
      <a routerLink="/contact" alt="Contact me" (click)="onCloseMenu()"> Contact me </a>
  </ng-template>

</body>

