@import "../../../shared/style/breakpoint.scss";

body {
  position: relative;
}

header,
section {
  width: 100%;
  position: absolute;
  display: flex;
  background-color: white;
}

section {
  a {
    margin: 0 20px;
    padding: 15px 0;
    text-decoration: none;
    position: relative;
    z-index: 0;
    color: var(--grey-color);
    cursor: pointer;

    &:before {
      position: absolute;
      color: var(--yellow-color);
      overflow: hidden;
      content: attr(alt);

      transition: all 0.4s;
      transform: scale(1.3);
      opacity: 0;
    }

    &:hover:before {
      transform: scale(1);
      opacity: 1;
      text-decoration: underline;
    }

    &:hover {
      color: var(--white-color);
      transition: all 0.3s;
    }
  }
}

.shadow-bottom {
  box-shadow: 0 6px 7px -6px var(--blue-color);
  transition: all 0.2s;
}

header {
  position: absolute;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  background-color: white;

  #logo {
    cursor: pointer;
    transition: transform 0.8s;
    z-index: 100;

    &:hover {
      transform: rotateY(180deg);
    }

    img {
      width: 50px;
    }
  }

  img,
  .fas {
    margin: 5px 10px;
  }

  .fas {
    font-size: 32px;
    cursor: pointer;
  }
}

#links-desktop {
  display: none;

  a {
    font-size: 20px;
  }
}

#links-phone {
  z-index: 999;
  flex-direction: column;
  top: -225px;
  transition: all 0.8s;

  a {
    font-size: 25px;

    &:not(:last-of-type) {
      border-bottom: 1px solid var(--light-grey-color);
    }
  }

  &.open-menu {
    top: 50px;
  }
}

///////////

@media screen and (min-width: $tablet-breakpoint) {
  #links-phone,
  .fas {
    display: none;
  }

  #links-desktop {
    display: flex;
    justify-content: flex-end;
    z-index: 99;
  }
}
