<body>

  <header [ngClass]="{ 'shadow-bottom' : !openMenu || innerWidth >= TABLETBREAKPOINT }">
    <div id="logo">
      <img src="../assets/images/lotus.png" alt="Image d'un lotus">
    </div>

    <section id="links-desktop">
      <ng-container *ngTemplateOutlet="links"></ng-container>
    </section>

    <i class="fas fa-bars grey" (click)="openMenu = !openMenu"></i>
  </header>

  <section id="links-phone" [ngClass]="{ 'shadow-bottom open-menu' : openMenu }">
    <ng-container *ngTemplateOutlet="links"></ng-container>
  </section>

  <ng-template #links>
      <a href="#" alt="My journey"> My journey </a>
      <a href="#" alt="My skills"> My skills </a>
      <a href="#" alt="My project"> My project </a>
      <a href="#" alt="Contact me"> Contact me </a>
  </ng-template>

</body>

